@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

*{
    color: #242424;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    appearance: none;
}

body{
    background-color: #14bdac;
}

main{
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

h1{
    font-size: 42px;
}

input {
   background-color: white;
   border: 1px solid #f2ebd3;
   border-radius: 8px;
   font-size: 18px;
   font-weight: 500;
   padding: 8px;
}

.playerOneGroup{
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.playerTwoGroup{   
    display: flex;
    flex-direction: column; 
    grid-column: 2;
}

form > button {
    background-color: #f2ebd3;
    border: none;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 600;
    grid-column: 1 / span 2;
    padding: 10px;
}

form > button:hover{
    background-color: #dad3bd;
    cursor: pointer;
}

label {
    font-size: 20px;
    font-weight: 600;
}

form{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.title{
    text-align: center;
}

.gameSection{
    place-self: center;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    place-content: center;
}

.gameCell{
    display: grid;
    place-content: center;
}

.borderBottom{
    border-bottom: 1rem solid #0da192;
}

.borderRight{
    border-right: 1rem solid  #0da192;
}

.scoreBoard{
    display: flex;
    padding: 35px;
    text-align: right;
}

.p1Points, .p2Points{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0,0,0,.16);
    font-size: 24px;
    margin: 0 10px;
    border-radius: 8px;
    outline: none;
    line-height: 20px;
    padding: 10px 24px;
    width: 8rem;
}

.restartButton{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0,0,0,.16);
    font-size: 24px;
    margin: 0 10px;
    border-radius: 8px;
    outline: none;
    line-height: 20px;
    padding: 7px 8px;
    cursor: pointer;
}

.restartButton:hover{
    background-color: rgb(236, 230, 230);
}

.svgScore{
    float: left;
    height: 16px;
}

.svgRestart{
    height: 24px;
}

.svgImg{
    fill: none;
    stroke: black;
    stroke-width: 16px;
}

.gameSection{
    display: none;
    position: absolute;
    top: 10rem;
}

.gameConfig{
    display: block;
}

svg{
    height: 76px;
}

.xSvg{
    stroke: rgb(84, 84, 84);
}

.oSvg{
    stroke: rgb(242, 235, 211);
}

.gameWinnerContainer{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.winnerSymbol{
    display: grid;
    place-items: center;
}

.gameWinner{
    color: rgb(84, 84, 84);
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0 0 0;
    text-align: center;
}

.winnerSymbol > svg{
    height: 10rem;
}